In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('car_price.csv')
data.sample(5)

,Unnamed: 0,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
3527,3527,Maruti Ertiga VXI,7.86 Lakh,"44,458 kms",Petrol,Manual,1st Owner,2019,1197 cc,5 Seats
5294,5294,Chevrolet Beat LS,1.07 Lakh,"80,000 kms",Petrol,Manual,1st Owner,2011,2487 cc,5 Seats
4457,4457,Mahindra KUV 100 NXT D75 K8 5Str,3.20 Lakh,"80,000 kms",Diesel,Manual,2nd Owner,2017,1197 cc,7 Seats
3520,3520,Mahindra KUV 100 mFALCON G80 K6 Plus,3.38 Lakh,"38,934 kms",Petrol,Manual,1st Owner,2016,1462 cc,5 Seats
2925,2925,Jeep Compass 1.4 Longitude Plus AT,16.90 Lakh,"78,000 kms",Petrol,Automatic,1st Owner,2018,1248 cc,5 Seats

In [5]:
data.shape

(5512, 10)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   object
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   object
 9   Seats                5512 non-null   object
dtypes: int64(2), object(8)
memory usage: 430.8+ KB