In [205]:
import pandas as pd
import numpy as np

In [206]:
data = pd.read_csv('BostonHousing.csv')
data.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
447,9.92485,0.0,18.10,0,0.740,6.251,96.6,2.1980,24,666,20.2,388.52,16.44,12.6
366,3.69695,0.0,18.10,0,0.718,4.963,91.4,1.7523,24,666,20.2,316.03,14.00,21.9
171,2.31390,0.0,19.58,0,0.605,5.880,97.3,2.3887,5,403,14.7,348.13,12.03,19.1
50,0.08873,21.0,5.64,0,0.439,5.963,45.7,6.8147,4,243,16.8,395.56,13.45,19.7
86,0.05188,0.0,4.49,0,0.449,6.015,45.1,4.4272,3,247,18.5,395.99,12.86,22.5

In [207]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       501 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [208]:
data.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         5
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [209]:
#missing values in rm column, lets fill it with mean
mean_value = data['rm'].mean()
data['rm'].fillna(value=mean_value,inplace = True)
data.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [210]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [211]:
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()

X = min_max.fit_transform(X)

In [212]:
from sklearn.model_selection import train_test_split

#splitting the dataset into train and test set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [213]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor()

dtr.fit(X_train,y_train)

score = dtr.score(X_test,y_test)
print('Accuracy of Decision Tree Regressor is ',score)

Accuracy of Decision Tree Regressor is  0.7305698345040035

In [214]:
from sklearn.ensemble import RandomForestRegressor

# rfr = RandomForestRegressor(n_estimators=1000,max_depth=10,max_samples=0.40,bootstrap=True,max_features=0.40)
rfr = RandomForestRegressor()

rfr.fit(X_train,y_train)

score = rfr.score(X_test,y_test)
print('Accuracy of Random Forest Regressor is ',score)

Accuracy of Random Forest Regressor is  0.8851497401871867

In [231]:
#parameters of Random Forest Classifier
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(n_estimators=1000,max_depth=10,max_samples=0.40,bootstrap=True,max_features='log2',criterion='squared_error',min_samples_split=5,min_samples_leaf=2)


rfr.fit(X_train,y_train)

score = rfr.score(X_test,y_test)
print('Accuracy of Random Forest Regressor is ',score)

Accuracy of Random Forest Regressor is  0.8005284632669505