In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
data = pd.read_csv('BostonHousing.csv')
data.sample(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
448,9.32909,0.0,18.10,0,0.713,6.185,98.7,2.2616,24,666,20.2,396.90,18.13,14.1
287,0.03871,52.5,5.32,0,0.405,6.209,31.3,7.3172,6,293,16.6,396.90,7.14,23.2
464,7.83932,0.0,18.10,0,0.655,6.209,65.4,2.9634,24,666,20.2,396.90,13.22,21.4
338,0.03306,0.0,5.19,0,0.515,6.059,37.3,4.8122,5,224,20.2,396.14,8.51,20.6
128,0.32543,0.0,21.89,0,0.624,6.431,98.8,1.8125,4,437,21.2,396.90,15.39,18.0
153,2.14918,0.0,19.58,0,0.871,5.709,98.5,1.6232,5,403,14.7,261.95,15.79,19.4
65,0.03584,80.0,3.37,0,0.398,6.290,17.8,6.6115,4,337,16.1,396.90,4.67,23.5
51,0.04337,21.0,5.64,0,0.439,6.115,63.0,6.8147,4,243,16.8,393.97,9.43,20.5
391,5.29305,0.0,18.10,0,0.700,6.051,82.5,2.1678,24,666,20.2,378.38,18.76,23.2
143,4.09740,0.0,19.58,0,0.871,5.468,100.0,1.4118,5,403,14.7,396.90,26.42,15.6

In [48]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       501 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [49]:
data.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         5
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [50]:
data.dropna(subset=['rm'],inplace = True)
data.isnull().sum()

crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

In [51]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [52]:
X.sample(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
83,0.03551,25.0,4.86,0,0.426,6.167,46.7,5.4007,4,281,19.0,390.64,7.51
31,1.35472,0.0,8.14,0,0.538,6.072,100.0,4.1750,4,307,21.0,376.73,13.04
267,0.57834,20.0,3.97,0,0.575,8.297,67.0,2.4216,5,264,13.0,384.54,7.44
431,10.06230,0.0,18.10,0,0.584,6.833,94.3,2.0882,24,666,20.2,81.33,19.69
317,0.24522,0.0,9.90,0,0.544,5.782,71.7,4.0317,4,304,18.4,396.90,15.94

In [53]:
y.sample(5)

384     8.8
205    22.6
288    22.3
21     19.6
8      16.5
Name: medv, dtype: float64

In [54]:
from sklearn.model_selection import train_test_split

#splitting the dataset into train and test set
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2, random_state = 42)

In [55]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [56]:
X_train[:5]

array([[ 0.22229375, -0.50209736,  1.01227379, -0.27435163,  1.24072216,
        -0.35834383,  0.48463449, -0.75402905,  1.65308072,  1.54535096,
         0.8192869 ,  0.22652076,  0.90909809],
       [-0.28565484, -0.50209736, -0.43955816, -0.27435163, -0.15804809,
        -1.0358795 ,  1.04896217,  0.0105125 , -0.65367765, -0.58883252,
         1.18601205,  0.20602027,  1.23469959],
       [-0.41269792, -0.50209736, -0.55034052, -0.27435163, -0.54659538,
        -0.31326869, -0.91894976,  0.76937897, -0.53833974, -0.70772853,
         0.54424304,  0.43628265,  0.0489915 ],
       [-0.43917089, -0.50209736, -0.86956862, -0.27435163, -0.35663892,
        -0.57808513, -0.34376961,  0.86275988, -0.53833974, -1.08225098,
         0.8192869 ,  0.41261082, -0.27228785],
       [-0.42358022,  0.56358737, -0.8783146 , -0.27435163, -0.89197075,
        -0.22593561, -1.4434851 ,  1.89449935, -0.19232598, -0.72556293,
         0.59008368,  0.36583346, -0.80535224]])

In [57]:
from sklearn.linear_model import LinearRegression

lg = LinearRegression()

lg.fit(X_train,y_train)

score = lg.score(X_test,y_test)
print('Accuracy of Linear Regression is ',score)

Accuracy of Linear Regression is  0.7023491621913214

In [60]:
from sklearn.svm import SVR

svr = SVR()

svr.fit(X_train,y_train)

score = svr.score(X_test,y_test)
print('Accuracy of SVR is ',score)

Accuracy of SVR is  0.6926495268460529

In [61]:
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors = 2)

knn.fit(X_train,y_train)

score = knn.score(X_test,y_test)
print('Accuracy of KNN is ',score)

Accuracy of KNN is  0.7624260231273421

In [62]:
estimators = [('Linear Regression',lg),('SVM',svr),('KNN',knn)]

In [64]:
from sklearn.ensemble import VotingRegressor
vc = VotingRegressor(estimators=estimators)

vc.fit(X_train,y_train)

score = vc.score(X_test,y_test)
print('Accuracy of Voting Regressor is ',score)

Accuracy of Voting Regressor is  0.804283962430999